#fortune{
    display: flex;
    justify-content: center;
    height: 500px;
}

.main{
    display: flex;
    align-self: center;
    width: 400px;
    justify-content: center;
    flex-direction: column;
}

#wallet{
    display: flex;
    justify-content: space-around;
}

#wallet > *{
    margin: 50px;
    text-align: center;
}

#wallet span{
    font-size: 22px;
}

#loading, #prize{
    margin: 40px 0;
    text-align: center;
}

#loading > img{
    display: none;
}

#prize{
    font-size: 25px;
    font-weight: bold;
}

#prize > span{
    display: none;
}

.actions-container{
    display: none;
}

#actions{
    display: flex;
    justify-content: center;
}

#actions > *{
    margin: 10px;
}
